.App {
  text-align: center;
}

.App-logo {
  height: 15vmin;
  position: absolute;
  top: 5px;
}

.App-header {
  background-color: #1f2833;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
